@using MVC.HelloWorld.Models;
@model IEnumerable<PizzaViewModel>
@{
    ViewBag.Title = "Pizza";
}

<h2>Pizza</h2>
<p>I'm very hungry!</p>

<ul>
    @foreach (var item in Model)
    {
        <li> @item.Name - @item.Price</li>
    }
</ul>

@using(Html.BeginForm())
{
    <input type="text" value="input here" />
}
@{
    @:Hello World
}

@foreach(var key in ViewData.Keys)
{
    <p>@ViewData[key]</p>
}